.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-header-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-name{
  padding: 20px 0 40px;
}

.chat-name a {
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.chat-header{
  height: 100px;
  padding: 0 40px;
}
.chat-messages{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.chat-form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}